* {
   box-sizing: border-box;
   font-family: sans-serif;
}

html,
body {
   height: 100%;
}

body {
   /* background: rgb(32, 32, 32); */
   background: #000;

   display: flex;
   justify-content: center;
   align-items: center;
}

/* TODO Gameboard */
.gameboard {
   height: 600px;
   width: 600px;
   display: grid;
   grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
   border: 2px solid #0ff;
   color: #0ff;
   text-shadow: 0 0 20px #0ff;
   box-shadow: 0 0 10px 5px #0ff;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 9rem;
   user-select: none;
}

.top {
   border-top: none;
}

.right {
   border-right: none;
}

.bottom {
   border-bottom: none;
}

.left {
   border-left: none;
}
